/*----- Genral Classes start ------*/
body {
	background: #2C303C;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	color: #999;
	background: rgba(0, 0, 0, 0.36);
	margin: 0;
	padding: 5px;
}
h2 {
	text-align: center;
	color: #999; 
	margin: 0;
	padding: 5px;
	font-size: 1.8em;
	margin-bottom: 30px;
} 
 
.wrapper,.copyright {
	padding: 20px;
	text-align: center;
}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;

 